@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
    margin:0;
}

html{
    font-size: 10px;
}

body{
    font-family: "Inter",Arial, Helvetica, sans-serif;
    background-color: rgb(202, 202, 202);
}

button{
    border:none;
    background-color: transparent;
    padding: 0.5rem;
    text-transform: capitalize;
}

#card{
    display: flex;
    flex-direction: column;
    width: 20rem;
    padding: 1rem;
    margin:1rem;
    gap:1rem;
    background-color: white;
    border-radius: 1rem;
}

#card h2{
    text-align: center;
    font-weight: 600;
}

#card p {
    color:rgba(71, 84, 103, 1);
    font-weight: 400;
}
#card #buttons{
    display: flex;
    gap:0.5rem
}

#card #buttons button{
    flex:1;
}

#card #buttons button:first-child{
    border: 1px solid rgba(208, 213, 221, 1)
}
#card #buttons button:last-child{
    background-color:rgba(37, 196, 244, 1);
    color:white;
}