@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
    --primary-background-color:black;
    --primary-color-green-1:#27AE60;
    --primary-text-color:white;
    --secondary-text-color:#828282;
    --secondary-color-gray-2:#212121;
    --secondary-color-gray-3:#535353;
}

html{
    font-size: 10px;
}

body{
    font-family:"Dm Sans" , Arial, Helvetica, sans-serif ;
    background-color: var(--primary-background-color);
    color:var(--primary-text-color);
    margin: 1rem 4rem 4rem 4rem;
    display: flex;
    flex-direction: column;
    gap:2rem;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul{
    display: flex;
    gap:1rem;
}


nav ul li {
    list-style-type:none ;
    font-weight: 300;
}


header {
    display: flex;
}

header .text , header .img{
    flex:1
}

header .text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header .text h3{
    color:var(--secondary-text-color)
}

header .text .buttons{
    display: flex;
    gap: 1rem;
}

header .img img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}

header .text .buttons button{
    border:none;
    background-color: transparent;
    color:var(--primary-text-color);
    padding:1rem
}

header .text .buttons button:nth-child(1){
    background-color: var(--primary-color-green-1);
}

header .text .buttons button:nth-child(2){
    border:1px solid white;
}

#about{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about p{
    width: 50%;
}
#about .points{
    display: flex;
    gap:8rem;
}

#about .points .element .big-cercle{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: var( --secondary-color-gray-2);
    display: flex;
    align-items: center;
    justify-content: center;
}

#about .points .element .big-cercle .small-cercle{
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: var(--primary-color-green-1);
}

#what-i-do{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#what-i-do .boxes{
    display: flex;
    gap:2rem;
}

#what-i-do .boxes .box{
    background-color: var(--secondary-color-gray-2);
    padding: 2rem;
}

#what-i-do .boxes .box img{
    height: 2rem;
}

#what-i-do .boxes .box h3{
     color: var(--secondary-color-gray-3    )
}


#my-skills{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#my-skills .skills{
    display: flex;
    gap:9rem;
    padding: 2rem;
    background-color: #333333;
}

#my-skills .skills .skill h1{
    font-weight: 700;
    font-size: 3rem;
    color:#4F4F4F
}

#my-skills .skills .skill h3{
    color:var(--primary-color-green-1)
}